* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif !important;
  min-height: 100vh !important;
}
.top-background {
  background-image: url("https://images.pexels.com/photos/5137818/pexels-photo-5137818.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  min-height: 100vh;
  background-size: cover;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.637);
  backdrop-filter: blur(3px);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: white;
}
.overlay h1 {
  font-size: 10vh;
  font-weight: 900;
}

.btn-custom {
  background-color: tomato !important;
  color: white !important;
}
.btn-custom:hover {
  background-color: tomato !important;
  color: white !important;
}
.mess-list {
  margin-top: 50px;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mess-card {
  background-image: url("https://images.pexels.com/photos/7007/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.mess-card-overlay {
  background-color: rgba(0, 0, 0, 0.637);
  backdrop-filter: blur(1px);

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: white;
  padding: 20px;
}
.col {
  padding: 20px;
  width: 20vw;
  height: 30vh;
}
.footer {
  background-color: rgb(43, 17, 13);
  min-height: 5vh;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Details  */
.details-header {
  min-height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.details-container {
  min-height: 60vh;
  background-image: url("https://images.pexels.com/photos/271618/pexels-photo-271618.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  border-radius: 5px;
}

.details-body {
  min-height: 40vh;
  margin-bottom: 10px;
}

.amnities-list {
  max-height: 10vh;
}
/* Confirm  */
.confirm-section {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
